<body class="card-body">
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-4">
                    <div id="login-box" class="col-md-12" style="border-radius:5% !important;">
                        <form id="LoginForm" class="form">
                            <div class="form-group">
                                <label for="inputEmailLogin">Email</label>
                                <input name="inputEmailLogin" required type="email" class="form-control" aria-describedby="emailHelp" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <label for="inputSenhaLogin">Senha</label>
                                <input name="inputSenhaLogin" required type="password" class="form-control" placeholder="********" />
                            </div>
                            <div class="form-group">
                                <small id="emailHelp" class="form-text text-muted">Não possui uma conta?,<a style="color:blue" class="card-link" onclick="RedirecionaParaPagina('Usuario','CadastroUsuario')">Crie agora</a> </small>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="submit" class="btn btn-success text-center" style="margin-left: 35%">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/Login/Login.js"></script>
<script>
    $(document).ready(function () {
        $("html header").hide();
    });
</script>
<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    a {
     text-decoration:underline !important;    
    }
</style>

