@using GerenciamentoIdentidadeCore2.Models.Modulo
<table class="table">
    <tbody>
        @foreach (ModuloVD i in ViewBag.ListaModulos)
        {

            <tr class="row">
                <td class="col-10">
                    @Html.DisplayFor(modelItem => i.NomeModulo)
                </td>
                <td class="col-2">
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

