
@{
    ViewData["Title"] = "CadastroPerfilIndex";
}

@Model
@{
    ViewBag.Title = "CadastroPerfil";
}

<body class="modal-body">
    <h1>Cadastro de Perfil</h1>
    <div id="CadastroPerfil">
        <div class="container">
            <div id="CadastroPerfil-row">
                <div id="CadastroPerfil-column" class="col-md-12 row justify-content-center align-items-center">
                    <div id="CadastroPerfil-box" class="col-md-12" style="border-radius:5% !important;">
                        <form id="CadastroPerfilForm" class="form col-md-12">
                            <div class="form-group">
                                <!-- Dsc Perfil-->
                                <label for="InputDscPerfil">Descrição Perfil</label>
                                <input name="InputDscPerfil" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Descrição Perfil">
                            </div>
                            <div class="form-group row justify-content-center align-items-center">
                                <button type="submit" value="submit" class="btn btn-success text-center">CadastroPerfil</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/Perfil/CadastroPerfil.js"></script>


