
@{
    ViewData["Title"] = "CadastroPerfilIndex";
}

@Model
@{
    ViewBag.Title = "CadastroPerfil";
}
@using GerenciamentoIdentidadeCore2.Models.Modulo
<div class="row">
    <div class="card col-12" id="divCadastroModulo">
        <div class="card-body">
            <h5 class="card-title" align="center">Cadastrar Perfil</h5>
            <div class="form-group col-12">
                <form id="CadastroPerfilForm" class="form col-md-12">
                    <div class="form-group">
                        <label for="InputDscPerfil">Nome do Perfil</label>
                        <input name="InputDscPerfil" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Descrição Perfil">
                    </div>
                    <div>
                        <h6>Módulos permitidos</h6>
                        @foreach (ModuloVD i in ViewBag.ListaModulos)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@i.CodModulo" id="chkPermissaoModulo_@i.CodModulo">
                                <label class="form-check-label" for="chkPermissaoModulo_@i.CodModulo">
                                    @i.NomeModulo
                                </label>
                            </div>
                        }
                    </div>                                                                
                    <div id="btnRegistrarPerfil" class="form-group">
                        <button type="submit" value="submit" class="btn btn-success text-center col-12">Salvar</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
<script src="~/js/Perfil/CadastroPerfil.js"></script>

<style>
    #btnRegistrarPerfil {
        margin-top: 20px
    }

</style>
